CREATE DATABASE VehicleMakesDB
GO
USE [VehicleMakesDB]
GO
/****** Object:  Table [dbo].[Bodies]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodies](
	[BodyID] [int] IDENTITY(1,1) NOT NULL,
	[BodyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bodies] PRIMARY KEY CLUSTERED 
(
	[BodyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriveTypes]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriveTypes](
	[DriveTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DriveTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DriveTypes] PRIMARY KEY CLUSTERED 
(
	[DriveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelTypes]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[FuelTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FuelTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FuleTypes] PRIMARY KEY CLUSTERED 
(
	[FuelTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MakeModels]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakeModels](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[MakeID] [int] NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MakeModels] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makes]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[MakeID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Make] PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubModels]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubModels](
	[SubModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelID] [int] NOT NULL,
	[SubModelName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SubModels] PRIMARY KEY CLUSTERED 
(
	[SubModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleDetails]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleDetails](
	[ID] [int] NOT NULL,
	[MakeID] [int] NULL,
	[ModelID] [int] NULL,
	[SubModelID] [int] NULL,
	[BodyID] [int] NULL,
	[VehicleDisplayName] [nvarchar](150) NULL,
	[Year] [smallint] NULL,
	[DriveTypeID] [int] NULL,
	[Engine] [nvarchar](100) NULL,
	[Engine_CC] [smallint] NULL,
	[EngineCylinders] [tinyint] NULL,
	[EngineLiterDisplay] [money] NULL,
	[FuelTypeID] [int] NULL,
	[NumDoors] [tinyint] NULL,
 CONSTRAINT [PK_CarDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MakeModels]  WITH CHECK ADD  CONSTRAINT [FK_MakeModels_Makes] FOREIGN KEY([MakeID])
REFERENCES [dbo].[Makes] ([MakeID])
GO
ALTER TABLE [dbo].[MakeModels] CHECK CONSTRAINT [FK_MakeModels_Makes]
GO
ALTER TABLE [dbo].[SubModels]  WITH CHECK ADD  CONSTRAINT [FK_SubModels_MakeModels] FOREIGN KEY([ModelID])
REFERENCES [dbo].[MakeModels] ([ModelID])
GO
ALTER TABLE [dbo].[SubModels] CHECK CONSTRAINT [FK_SubModels_MakeModels]
GO
ALTER TABLE [dbo].[VehicleDetails]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDetails_Bodies] FOREIGN KEY([BodyID])
REFERENCES [dbo].[Bodies] ([BodyID])
GO
ALTER TABLE [dbo].[VehicleDetails] CHECK CONSTRAINT [FK_VehicleDetails_Bodies]
GO
ALTER TABLE [dbo].[VehicleDetails]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDetails_DriveTypes] FOREIGN KEY([DriveTypeID])
REFERENCES [dbo].[DriveTypes] ([DriveTypeID])
GO
ALTER TABLE [dbo].[VehicleDetails] CHECK CONSTRAINT [FK_VehicleDetails_DriveTypes]
GO
ALTER TABLE [dbo].[VehicleDetails]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDetails_FuelTypes] FOREIGN KEY([FuelTypeID])
REFERENCES [dbo].[FuelTypes] ([FuelTypeID])
GO
ALTER TABLE [dbo].[VehicleDetails] CHECK CONSTRAINT [FK_VehicleDetails_FuelTypes]
GO
ALTER TABLE [dbo].[VehicleDetails]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDetails_MakeID] FOREIGN KEY([MakeID])
REFERENCES [dbo].[Makes] ([MakeID])
GO
ALTER TABLE [dbo].[VehicleDetails] CHECK CONSTRAINT [FK_VehicleDetails_MakeID]
GO
ALTER TABLE [dbo].[VehicleDetails]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDetails_ModelID] FOREIGN KEY([ModelID])
REFERENCES [dbo].[MakeModels] ([ModelID])
GO
ALTER TABLE [dbo].[VehicleDetails] CHECK CONSTRAINT [FK_VehicleDetails_ModelID]
GO
ALTER TABLE [dbo].[VehicleDetails]  WITH CHECK ADD  CONSTRAINT [FK_VehicleDetails_SubModels] FOREIGN KEY([SubModelID])
REFERENCES [dbo].[SubModels] ([SubModelID])
GO
ALTER TABLE [dbo].[VehicleDetails] CHECK CONSTRAINT [FK_VehicleDetails_SubModels]
GO
